#content {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    column-gap: 20px;
}

#columnDiv {
    display: flex;
    flex-direction: column;
}

#dateSelectionDiv {
    min-width: 100px;
    min-height: 100px;
}

#map {
    width: 600px;
    height: 600px;

}

#scatterplotDiv {
    min-width: 100px;
    min-height: 100px;
}

#detailedDiv {
    min-width: 100px;
    min-height: 100px;
}
